<div class'work row'>
	<div class='projs small-12 large-3 column' ew-full-height>
		<div class='node' ng-repeat='proj in projs' ng-click='showProj(proj);'>
			<h1>{{ proj.title }}</h1>
			<p>{{ proj.blurb }}</p>
		</div>
	</div><div class='show small-12 large-9 column'>
		<div ng-show='currentProj.title'>
			<h1>{{ currentProj.title }}</h1>
			<article>
				{{ currentProj.content }}
			</article>
		</div>
		<div ng-hide='currentProj.title'>
			<h1>Click on one of my projects to check it out.</h1>
		</div>
	</div>
</div>